#syncfailed{
  width: 25%;
  height: 11%;
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: arial;
}
#resetbutton{
  background-color: red;
  width: 25%;
  height: 6%;
  position: absolute;
  top: 10%;
  display: none;
  left: 5%;
  cursor: pointer;
}
#entercodebutton{
  background-color: orange;
  width: 25%;
  height: 6%;
  position: absolute;
  top: 10%;
  left: 5%;
  cursor: pointer;
}
#revealanswerbutton{
  background-color: blue;
  width: 25%;
  height: 11%;
  position: absolute;
  top: 5%;
  left: 5%;
  display: none;
  cursor: pointer;
  display: none;
}
#loadquestionbutton{
  background-color: green;
  width: 25%;
  height: 11%;
  position: absolute;
  top: 5%;
  left: 5%;
  display: none;
  cursor: pointer;
  display: none;
}
#codeinput{
  width: 25%;
  height: 5%;
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1.5vw;
}
#startbutton{
  background-color: orange;
  width: 25%;
  height: 11%;
  position: absolute;
  top: 5%;
  left: 5%;
  display: none;
  cursor: pointer;
}
#buttoncontainer{
  position: absolute;
  top: 2vh;
  left: 2vw;
  width: 69vw;
  height: 45vh;
  border: solid black;
}
.button{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
}
#body{
  background-color: MidnightBlue;
}
#lifelinestable{
  border: none;
  table-layout: fixed;
  width: 70vw;
  height: 6vw;
  position: absolute;
  left: 2vw;
  bottom: 21vw
}
.lifelineimg{
  width: 40%;
  height: auto;
  position: relative;
  left: 30%;
  display: block;
  text-align: center;
}
#questiontable{
  border: none;
  table-layout: fixed;
  width: 70vw;
  position: absolute;
  left: 2vw;
  bottom: 2vw
}
#questiontable td {
  width: 35vw;
}
.imgcontainer {
  position: relative;
  color: white;
  font-family: arial;
}
.tableimg {
  height: auto;
  width: 100%;
}
#questiontext {
  font-size: 2.2vw;
  display: table-cell; 
  text-align: center;
  vertical-align: middle; 
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}
.answertext {
  font-size: 1.7vw;
  display: table-cell; 
  text-align: left;
  vertical-align: middle; 
  position: absolute;
  top: 27%;
  width: 80%;
  height: 80%;
}
.answertextleft {
  left: 12%;
}
.answertextright {
  left: 4%;
}
#prizestable{
  border: 1px solid white;
  font-family: arial;
  /*font-size: 3vw;*/
  color: orange;
  width: 25vw;
  position: absolute;
  bottom: 1vw;
  right: 1vw;
}
#prizestable td {
  height: 5.5vh;
  width: 35vw;
}
.prizesA {
  /*width: 6.5vw;*/
  width: auto;
  align: right;
  height: 3vh;
}
.prizesB {
  /*width: 2vw;*/
  width: auto;
  align: centre;
  height: 3vh;
}
.prizesA {
  /*width: 16.5vw;*/
  width: auto;
  align: left;
  height: 3vh;
}
